<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div th:replace="fragments :: page-title"></div>
<div class="container">

    <form method="POST"
              th:action="@{create(dimensionId=${dimensionId})}">

        <div class="mb-3">
            <label>Describe your activity:
                <textarea th:field="${activity.description}" rows="6" cols="40"
                          class="form-control">
                </textarea>
            </label>
            <input type="hidden" th:field="${activity.dimension}" />
        </div>
        <p class="error" th:errors="${activity.description}"></p>

        <div>
            <input type="submit" value="Add my Activity" class="btn btn-add" />
        </div>

    </form>

    <div th:replace="fragments :: sample-activities"></div>

</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>