<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div th:replace="fragments :: page-title"></div>
<div class="container">

    <form method="POST"
              th:action="@{'/activity/edit/{dimensionId}/{activityId}'(dimensionId=${dimensionId},activityId=${activityId})}">

        <div class="mb-3">
            <label>Edit your activity description:
                <textarea th:field="${activity.description}" rows="6" cols="40"
                          class="form-control">
                </textarea>
            </label>
        </div>
        <p class="error" th:errors="${activity.description}"></p>

        <div>
            <input type="submit" value="Edit my Activity" class="btn btn-edit" />

            <a class="btn btn-outline-secondary"
               th:href="@{/activity/index(dimensionId=${dimensionId})}">
                Cancel
            </a>

        </div>

    </form>

</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>