<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div th:replace="fragments :: page-title"></div>
<nav class="nav-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item">
            <a th:href="@{/dimension}">Create a List</a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page"
            th:text="${dimensionName}">
        </li>
    </ol>
</nav>
<div class="container">

    <div class="button-orange">
        <a th:href="@{/activity/create(dimensionId=${dimensionId})}"
             th:text="'Add an Activity'"
             class="button-link">
        </a>
    </div>

    <h6 th:text="${activity_list_heading}"></h6>

    <table class="table table-striped">

        <tr th:each="activity_item : ${activity}">
            <td class="shrink">
                <form th:action="@{'/activity/delete/{dimensionId}/{activityId}'(dimensionId=${dimensionId},activityId=${activity_item.id})}" th:method="POST">
                    <input type="hidden" name ="_method" value="DELETE" />
                    <button type="submit" class="btn btn-delete btn-small">Delete</button>
                </form>
            </td>

            <td class="shrink">
                <a class="btn btn-edit btn-small"
                   th:href="@{'/activity/edit/{dimensionId}/{activityId}'(dimensionId=${dimensionId},activityId=${activity_item.id})}">
                    Edit
                </a>
            </td>
            <td th:text="${activity_item.description}" class="expand"></td>
        </tr>

    </table>

</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>