body {
    margin-left: 0%;
    margin-right: 0%;
    padding-bottom: 25px;
    min-height: 100vh;
    position: relative;
}

nav {
    background-color:#080596;
}

footer {
    text-align: left;
    color: #ffffff;
    background-color: #a8a8a8;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
}

.container {
    padding-bottom: 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td.shrink {
    white-space: nowrap;
}

table td.expand {
    width: 99%;
}

h5, h6 {
    font-weight: 600;
    color: #14183b;
}

mark {
    background-color: #dddddf;
}

.dimensions-heading {
    text-align: center;
    color: #14183b;
    font-weight: 600;
    background-color: #dddddf;
    width: fit-content;
    margin: auto;
    padding: 3px;
}

.dimension-block {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
}

.dimension-block-item {
    color: #14183b;
    font-weight: bold;
    background-color: #d7eaf7;
    display: inline-block;
    padding: 5px;
}

.p-justify {
    text-align: justify;
}

.button-link {
    font-size: 18px;
    font-weight: 700;
    color: #14183b;
}

.page-title {
    padding: 10px;
}

.list-group-item a {
    background-color: #e6a08a;
    color: #14183b;
    font-weight: bold;
}

.dimension-tab :hover {
    background-color: #d97c5f;
}

.dimension-tab {
    border-top-left-radius: 5px;
    border-top-right-radius: 25px;
    width: fit-content;
}

.dimension-list {
    margin:auto;
    width: 95%;
}

.item-outline {
    border: none;
}

.list-group-item .description {
    font-weight: 600;
    color: #14183b;
    background-color: #d7eaf7;
    border-top-right-radius: 5px;
}

.sample-list {
    padding-top: 25px;
}

.references {
    padding-top: 50px;
    font-size: 14px;
}

.center {
   text-align: center;
}

.button-orange {
   border-radius: 24px;
   width: fit-content;
   background-color: #e6a08a;
   padding-top: 6px;
   padding-left: 15px;
   padding-bottom: 6px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 25px;
   margin-bottom: 20px;
   text-align: center;
}

.error {
    color: red;
}

/* .navbar-medium styles */

.navbar-medium .navbar-brand {
    color: #ffffff;
}

.navbar-medium .navbar-brand:focus,.navbar-medium .navbar-brand:hover {
    color: #ffffff;
}

.navbar-medium .navbar-nav .nav-link {
    color: #cfcfcf;
}

.navbar-medium .navbar-nav .nav-link:focus,.navbar-medium .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-medium .navbar-nav .nav-link.disabled {
    color: #b3b3b3;
}

.navbar-medium .navbar-nav .nav-link.active,.navbar-medium .navbar-nav .show>.nav-link {
    color: #ffffff;
}

.navbar-medium .navbar-toggler {
    color: #ffffff;
    border-color: #ffffff;
}

.navbar-medium .navbar-toggler-icon {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-medium .navbar-text {
    color: #cfcfcf;
}

.navbar-medium .navbar-text a,.navbar-medium .navbar-text a:focus,.navbar-medium .navbar-text a:hover {
    color: #ffffff;
}