<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <nav th:replace="fragments :: nav"></nav>
    <div th:replace="fragments :: page-title"></div>
    <div class="container">
        <section>
        The Substance Abuse and Mental Health Services Administration (SAMHSA) has
        identified eight dimensions of wellness to focus on to optimize health.
        The eight dimensions include: emotional, spiritual, intellectual, physical,
        environmental, financial, occupational, and social.
        Wellness can be compromised by lack of support, trauma,
        unhelpful thinking styles, chronic illness/disability, and substance use.
        The eight dimensions are described in this website and are accompanied by
        examples and ideas for improving each area.
        </section>
        <img src="/image/afw01.png">
    </div>

</body>
</html>