<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div th:replace="fragments :: page-title"></div>
<div class="container">

    <h6>
        Optimize your wellness through a holistic approach to health.
    </h6>

    <p class="p-justify">
        Activities for Wellness encourages you to create lists of activities that
        improve and maintain your health and wellbeing in eight dimensions of wellness.
     </p>

    <h6>
        What is Wellness?
    </h6>
    <p class="p-justify">
        Wellness is more than a state of feeling well.
        Wellness is actively living a lifestyle that leads to optimal health and wellbeing.
        You can improve and maintain your wellness despite the presence of illness or stress.
        With the concept of wellness, a person is seen from different dimensions
        to create a holistic perspective.
    </p>

    <h6>
        What are the Dimensions of Wellness?
    </h6>
    <p class="p-justify">
        Through our activities, we can address our needs in different
        dimensions of wellness.
    <p>

    <div class="dimensions-heading">
        The dimensions of wellness include:
    </div>

    <div class="dimension-block">
        <th:block th:each="dimension_item : ${dimension}">
            <span
                    th:text="${dimension_item.name}"
                    class="dimension-block-item">
            </span>
        </th:block>
    </div>

    <h6>
        Find a personal harmony with your activities.
    </h6>

    <p class="p-justify">
        All dimensions of wellness need our attention.
        Our activities in one dimension can influence our wellness in other dimensions.
        If we only pay attention to some of the dimensions, our wellness in the other
        dimensions will be affected.
    </p>
    <p class="p-justify">
        However, there doesn't need to be a perfect balance among all the dimensions.
        Activities can be planned according to factors such as our goals,
        beliefs, values, culture, personality, and life experiences.
        The goal is to find a personal harmony with the dimensions that is
        most authentic for you.
    </p>

    <p class="p-justify">

    </p>

    <h6>
        In which of the dimensions of wellness do you feel strongest?  Which
        of the dimensions of wellness will you focus on first?
    </h6>

    <div class="button-orange">
        <a th:href="@{/dimension}" class="button-link">
            Get Started - Create an Activity List
        </a>
    </div>

</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>
