<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div th:replace="fragments :: page-title"></div>
<div class="container">

    <!--START Display a button to filter or unfilter activities -->
    <table th:unless="${#lists.isEmpty(dimensionsWithActivities)}"
           class="table-filters">
        <tr>
            <td class="shrink filtershow" id="filter">
                <button type="button"
                        class="btn btn-filter"
                        onclick="filterSelection('dimension', 'filter1', 'filter1 th show', 'filter1 th hide', 'filter1 tr show', 'filter1 tr hide', 'tdshow', 'tdhide', 'tableshow', 'tablehide', 'unfilter', 'unfiltershow', 'unfilterhide', 'filter', 'filtershow', 'filterhide');">
                    Filter By Selected Activities
                </button>
            </td>
            <td class="expand unfilterhide" id="unfilter">
                <button type="button"
                        class="btn btn-unfilter"
                        onclick="unfilterSelection('dimension', 'filter1', 'filter1 th show', 'filter1 th hide', 'filter1 tr show', 'filter1 tr hide', 'tdshow', 'tdhide', 'tableshow', 'tablehide', 'unfilter', 'unfiltershow', 'unfilterhide', 'filter', 'filtershow', 'filterhide');">
                    Remove Filter
                </button>
            </td>
        </tr>
    </table>
    <!--END Display a button to filter or unfilter activities -->

    <!--START Select All for all dimensions and activities -->
    <table th:unless="${#lists.isEmpty(dimensionsWithActivities)}"
           class="table-filters">
        <tr>
            <td class="tdshow">
                <input type="checkbox"
                       onclick="toggleAll('allDimensions', 'dimension');"
                       name="allDimensions"
                       id="allDimensions"
                       th:checked="'false'"
                />
                <label for="allDimensions" class="label-bold">
                    Select All Activities
                </label>
            </td>
        </tr>
    </table>
    <!--END Select All for all dimensions and activities -->

    <th:block th:each="dimension : ${dimensionsWithActivities}">
    <table class="table table-sm table-filterable">

        <!--START Select All for dimensions -->
        <thead class="thead-filter">
            <tr class="filter1 th show">
                <td class="shrink td-select-all tdshow">
                    <input type="checkbox"
                           th:data-thisid="'dimension' + ${dimension.id}"
                           th:data-thisname="'dimension' + ${dimension.id}"
                           onclick="toggle(this.getAttribute('data-thisid'), this.getAttribute('data-thisname'), 'allDimensions');"
                           th:name="'dimension' + ${dimension.id}"
                           th:id="'dimension' + ${dimension.id}"
                           th:checked="'false'"
                           th:disabled="'false'"
                           th:class="'dimensionchk selectall' + ${dimension.id}"/>
                    <label th:for="'dimension' + ${dimension.id}"
                           class="label-semi-bold"> Select All</label>
                </td>
                <td th:text="${dimension.name}"
                    class="expand td-dimension-name">
                </td>
            </tr>
        </thead>
        <!--END Select All for dimensions -->

        <!-- START Select activities -->
        <th:block th:each="activity : ${allActivities}">
        <tr class="filter1 tr show"
             th:if="${activity.dimension.id} == ${dimension.id}">
            <td class="shrink tdshow">
                <input type="checkbox"
                       th:data-dimensioncheckboxid="'dimension' + ${dimension.id}"
                       th:data-thisactivityid="'dimensionactivity' + ${activity.id}"
                       onclick="setSelectAllCheckboxes(this.getAttribute('data-thisactivityid'), 'allDimensions', this.getAttribute('data-dimensioncheckboxid'));"
                       th:class="'dimension' + ${dimension.id}"
                       th:name="'dimensionactivity' + ${activity.id}"
                       th:id="'dimensionactivity' + ${activity.id}"
                       th:checked="'false'" />
                <label th:for="'dimensionactivity' + ${activity.id}">
                    Select</label>
            </td>
            <td th:text="${activity.description}" class="expand"></td>
        </tr>
        </th:block>
        <!-- END Select activities -->

    </table>
    </th:block>

    <!-- START Print the dimensions without activities -->
    <table class="tableshow table table-sm table-without-activities">
        <thead>
        <tr>
            <th th:text="${list_heading}"></th>
        </tr>
        </thead>
        <tr th:each="dimensionWithoutActivity : ${dimensionsWithoutActivities}">
            <td th:text="${dimensionWithoutActivity.name}"
                class="td-dimension-name">
            </td>
        </tr>
    </table>
    <!-- END Print the dimensions without activities -->

</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>