<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div th:replace="fragments :: page-title"></div>
<div class="container">

    <table>
        <tr>
            <td th:class="'shrink tdshow'">
                <button onclick="filterSelection();"> Filter By Selected Actvities</button>
            </td>
            <td th:class="'expand unfiltershow'">
                <button onclick="unfilterSelection();"> Remove Filter</button>
            </td>
        </tr>
        <tr>
            <td th:class="'tdshow'" style="padding-top:15px; padding-bottom:15px;">
                <!--START Select All for all dimensions and activities -->
                <input type="checkbox"
                       th:data-this="'allDimensions'"
                       th:data-all="'activity'"
                       onclick="toggleAll(this.getAttribute('data-this'), this.getAttribute('data-all'));"
                       th:name="'allDimensions'"
                       th:id="'allDimensions'"
                       th:checked="'false'"
                />
                <label th:for="'allDimensions'"> Select All Activities</label>
                <!--END Select All for all dimensions and activities -->
            </td>
        </tr>
    </table>
    <form method="POST" action="">
        <th:block th:each="dimension : ${dimensionsWithActivities}">
            <table class="table table-striped" style="border-collapse: collapse;">

                <!--START Select All for dimension(s) -->
                <thead>
                    <tr th:class="'filter1 th show'">
                        <td th:class="'shrink tdshow'" style="white-space: nowrap;">
                            <input type="checkbox"
                                   th:data-thing="'dimension' + ${dimension.id}"
                                   th:data-selectallid1="'allDimensions'"
                                   onclick="toggle(this.getAttribute('data-thing'), this.getAttribute('data-thing'), this.getAttribute('data-selectallid1'));"
                                   th:name="'dimension' + ${dimension.id}"
                                   th:id="'dimension' + ${dimension.id}"
                                   th:checked="'false'"
                                   th:disabled="'false'"
                                   th:class="'dimensionchk selectall' + ${dimension.id}"/>
                            <label th:for="'dimension' + ${dimension.id}"> Select All</label>
                        </td>
                        <td th:text="${dimension.name}"
                            style="font-weight:bold"
                            th:class="'expand'">
                        </td>
                    </tr>
                </thead>
                <!--END Select All for dimension(s) -->

                <!-- START Select activities -->
                <th:block th:each="activity : ${allActivities}">
                    <tr th:class="'filter1 tr show'"
                         th:if="${activity.dimension.id} == ${dimension.id}">
                        <td th:class="'shrink tdshow'">
                            <input type="checkbox"
                                   th:data-selectallid="'allDimensions'"
                                   th:data-selectid="'dimension' + ${dimension.id}"
                                   th:data-thisid="'dimensionactivity' + ${activity.id}"
                                   onclick="setSelectAll(this.getAttribute('data-selectallid'), this.getAttribute('data-selectid'), this.getAttribute('data-thisid'))"
                                   th:class="'dimension' + ${dimension.id}"
                                   th:name="'dimensionactivity' + ${dimension.id}"
                                   th:id="'dimensionactivity' + ${activity.id}"
                                   th:checked="'false'" />
                            <label th:for="'dimensionactivity' + ${activity.id}"> Select</label>
                        </td>
                        <td th:text="${activity.description}" th:class="'expand'"></td>
                    </tr>
                </th:block>
                <!-- END Select activities -->

            </table>
        </th:block>

        <!-- Next, print the dimensions without activities -->
        <table th:class="'tableshow table table-striped'">
            <thead>
            <tr>
                <th>The following dimensions have no activities created.</th>
            </tr>
            </thead>
            <tr th:each="dimensionWithoutActivity : ${dimensionsWithoutActivities}">
                <td
                    th:text="${dimensionWithoutActivity.name}"
                    style="font-weight:bold">
                </td>
            </tr>
        </table>

    </form>

</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>