<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div th:replace="fragments :: page-title"></div>
<div class="container">

    <p>
        Support your overall health and wellbeing in each dimension of wellness
        by creating lists of activities.
    </p>
    <p>
        <b>First, select a dimension of wellness:</b>
    </p>

    <div class="dimension-list">
        <div th:each="dimension_item : ${dimension}" class="list-group-item item-outline">

            <div class="dimension-tab">
                <a th:href="@{/activity/index(dimensionId=${dimension_item.id})}"
                      th:text="${dimension_item.name}"
                      class="list-group-item">
                </a>
            </div>

            <div th:text="${dimension_item.description}"
                 class="list-group-item description">
            </div>

        </div>
    </div>

</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>