nav {
    background-color: #091f6a;
}

.p-text {
    text-align: justify;
    text-justify: inter-word;
}

.main-link {
    font-size: 24px;
    font-weight: bold;
}

.add-link {
    font-size: 18px;
    font-weight: bold;
}

.page-title {
    padding: 10px;
}

.list-group-item a {
    background-color: #0a7fcd;
    color: black;
    font-weight: bold;
}

.references {
    padding-top: 50px;
    font-size: 14px;
}

table {
    border-collapse: collapse;
    width:100%;
}

table td.shrink {
    white-space:nowrap;
}

table td.expand {
    width: 99%;
}

.container .dimension-list {
    margin:auto;
    width: 85%;
}