nav {
    background-color: #091f6a;
}

.main-link {
    font-size: 24px;
    font-weight: bold;
}

.add-link {
    font-size: 18px;
    font-weight: bold;
}

.page-title, .content {
    padding: 10px;
}

.list-group-item a {
    background-color: #0a7fcd;
    color: black;
    font-weight: bold;
}

.container .references {
    padding-top: 50px;
}
