body {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

nav {
background-color: #002d96;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td.shrink {
    white-space: nowrap;
}

table td.expand {
    width: 99%;
}

h5, h6 {
    font-weight: 600;
}

.img-float {
    float: right;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
}

.dimension-block {
    text-align: center;
}

.dimension-block-item {
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    background-color: #e9f3fa;
}

mark {
    background-color: #f0f0f0;
}

.p-justify {
    text-align: justify;
    text-justify: inter-word;
}

.main-link {
    font-size: 24px;
    font-weight: bold;
}

.add-link {
    font-size: 18px;
    font-weight: 700;
}

.page-title {
    padding: 10px;
}

.list-group-item a {
    background-color: #e6a08a;
    color: #14183b;
    font-weight: bold;
}

.dimension-hover :hover {
    background-color: #d97c5f;
}

.dimension-hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 25px;
      width: fit-content;
}

.dimension-list {
    margin:auto;
    width: 95%;
}

.item-outline {
    border: none;
}

.list-group-item .description {
    font-weight: 600;
    color: #14183b;
    background-color: #d9f7ff;
    border-top-right-radius: 5px;
}

.sample-list {
    padding-top: 25px;
}

.references {
    padding-top: 50px;
    font-size: 14px;
}

.center {
    text-align: center;
}

.error {
    color: red;
}
